<div class="forgot-password-wrapper">
    <div class="w-6/12 h-screen hidden md:block flex-shrink-0 forgot-password-left"></div>
    <div class="w-full forgot-password-right">
        <div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
        <div class="flex flex-column align-items-center justify-content-center">
            <div style="border-radius:56px; padding: 10rem; width: 100%; max-width: 900px;">
                <div class="w-full surface-card py-8 px-5 sm:px-8">
                    <div class="text-center mb-5">
                        <div class="text-900 text-3xl font-medium mb-3">Mot de passe oublié</div>
                        <span class="text-600 font-medium">Entrez votre email pour réinitialiser votre mot de passe</span>
                    </div>

                    <div>
                        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
                            <div class="mb-5" style="padding-top: 2rem; padding-bottom: 2rem;">
                                <label for="email" class="block text-900 text-xl font-medium mb-2">Email</label>
                                <input id="email" type="text" placeholder="Adresse email" pInputText formControlName="email" class="w-full md:w-30rem" style="padding:1rem">
                                <small *ngIf="forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched" class="p-error block mt-2">
                                    Email invalide
                                </small>
                            </div>

                            <button pButton pRipple label="Envoyer le lien de réinitialisation" class="w-full p-3 text-xl" [disabled]="forgotPasswordForm.invalid || isLoading" type="submit" >
                                <i *ngIf="isLoading" class="pi pi-spin pi-spinner mr-2"></i>
                            </button>
                        </form>
                    </div>

                    <div class="flex align-items-center justify-content-center mt-5 gap-5" style="padding-top: 0.5rem;">
                        <a [routerLink]="['/auth/login']" class="font-medium no-underline" style="color: var(--primary-color)">Retour à la connexion</a>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
