<div class="login-wrapper">
    <!-- Left login -->
    <div class="w-5/12 h-screen hidden md:flex flex-shrink-0 items-center justify-center bg-[#0b0b2a] relative overflow-hidden">
        <!-- Background pattern -->
        <div class="absolute inset-0 bg-[url('/images/bg-pattern.png')] bg-cover bg-center opacity-30"></div>

        <!-- Robot Hand -->
        <img src="/images/robot-hand.png" alt="Robot Hand" class="absolute bottom-0 left-1/2 -translate-x-1/2 max-h-[75%] z-10" />

        <!-- Rotating Globe -->
        <img
            src="/images/globe-texture.png"
            alt="Rotating Globe"
            class="absolute bottom-[65%] left-1/2 -translate-x-1/2 w-[220px] h-[220px] rounded-full shadow-[0_0_40px_rgba(255,0,150,0.6),0_0_80px_rgba(0,150,255,0.4)] animate-spin-slow z-20 object-cover"
        />
    </div>

    <div class="w-full login-right">
        <div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
            <div class="flex flex-column align-items-center justify-content-center">
                <div style="border-radius: 56px; padding: 3rem">
                    <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius: 53px">
                        <div class="text-center mb-5">
                            <div class= "text-900 text-3xl ml-2  font-medium mb-3" style="background: linear-gradient(to right, #2229a8, #4764f5); -webkit-background-clip: text; -webkit-text-fill-color: transparent">Welcome to Quanta Edge</div>
                            <span class="text-600 font-medium">Sign in to continue</span>
                        </div>

                        <div>
                            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                                <div class="mb-5" style="padding-top: 2rem">
                                    <label for="username" class="block text-900 text-xl font-medium mb-2">Username </label>
                                    <input id="username" type="text" placeholder="Nom d'utilisateur" pInputText formControlName="username" class="w-full md:w-30rem" style="padding: 1rem" />
                                    <small *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched" class="p-error block mt-2"> Username required</small>
                                </div>

                                <div class="mb-5" style="padding-top: 1.5rem">
                                    <div class="flex align-items-center justify-content-between mb-2">
                                        <label for="password" class="text-900 text-xl font-medium">Password</label>
                                    </div>
                                    <p-password id="password" formControlName="password" [toggleMask]="true" placeholder="Mot de passe" styleClass="w-full" [style]="{ height: '3.5rem' }" [inputStyle]="{ height: '3.5rem' }"></p-password>
                                    <a [routerLink]="['/auth/forgotpassword']" class="font-medium no-underline ml-2 text-right cursor-pointer" style="padding-top: 1.5rem; color: #4764f5">Forgot your password? </a>
                                    <small *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="p-error block mt-2"> Password required </small>
                                </div>

                                <div class="flex align-items-center justify-content-between mb-5 gap-5" style="padding-top: 1.5rem; padding-bottom: 1.5rem">
                                    <div class="flex align-items-center">
                                        <p-checkbox id="rememberme" [binary]="true" formControlName="rememberMe" styleClass="mr-2"></p-checkbox>
                                        <label for="rememberme">Remember me</label>
                                    </div>
                                </div>

                                <div *ngIf="errorMessage" class="p-error block mt-2 text-center">
                                    {{ errorMessage }}
                                </div>

                                <button
                                    class="w-full p-3 text-xl rounded-lg text-white shadow-lg transform transition-all duration-300 bg-gradient-to-r from-[#2229A8] to-[#4764F5] hover:from-[#4764F5] hover:to-[#2229A8] border border-[#2229A8] hover:border-[#2229A8] cursor-pointer"
                                    [disabled]="loginForm.invalid || isLoading"
                                    type="submit"
                                >
                                    Sign in
                                    <i *ngIf="isLoading" class="pi pi-spin pi-spinner mr-2"></i>
                                </button>
                            </form>
                        </div>

                        <div class="flex align-items-center justify-content-center mt-5 gap-5" style="padding-top: 0.5rem">
                            <p>Don't have an account? Create one &nbsp;</p>
                            <a [routerLink]="['/auth/register']" class="font-medium no-underline" style="color: #4764f5"> Create an account</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
